.discography {
  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    gap: 22.67px;
  }

  &__flex-item {
    text-decoration: none;
  }

  &__flex-item figure {
    margin: 0;
  }

  &__flex-item figcaption {
    font-size: 0.8rem;
    text-align: center;
    margin-inline: 0 auto;
    color: $main-black;
    max-width: 200px;
  }

  &__image {
    display: block;
    margin: auto;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid $main-gray;
    border-radius: 50%;
  }

  &__image:hover {
    border-radius: 1px;
  }
}
