.site-header {
  background-color: $main-black;
  color: $main-white;
  line-height: normal;

  &__title,
  &__quotations {
    text-align: center;
    margin: 0 auto;
  }

  &__title {
    font-size: 24px;
    padding: 16px;
  }

  &__quotations {
    padding: 0 16px 16px;
  }

  /* Mixins */
  &__title {
    @mixin atMedium {
      font-size: xx-large;
    }
  }
}
